# Special files and dirs
pytest-coverage.xml
pytest-results.xml
**.coverage
**.env
.hidden/
.vscode/

# Python PDM related user files
.pdm.toml

# Python special files and dirs
.mypy_cache/
.pytest_cache/
.venv/
__pycache__/
